<%- include('includes/head') %>

<br>
<br>
<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tincidunt ante.</p>
  </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tincidunt ante. Etiam id sollicitudin libero, ac semper nibh. Nulla feugiat blandit dignissim. Donec imperdiet, nulla sed pulvinar suscipit, dolor felis posuere quam, eget efficitur ligula magna imperdiet ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tincidunt ante. Etiam id sollicitudin libero, ac semper nibh. Nulla feugiat blandit dignissim. Donec imperdiet, nulla sed pulvinar suscipit, dolor felis posuere quam, eget efficitur ligula magna imperdiet ligula.</p>

<%- include('includes/footer') %>